Source: ros-hydro-pr2-self-test
Section: misc
Priority: extra
Maintainer: Dash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-pr2-self-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-joint-qualification-controllers, ros-hydro-pr2-bringup-tests, ros-hydro-pr2-counterbalance-check, ros-hydro-pr2-self-test-msgs
Description: The pr2_self_test package
